/* needs variables */
:root {
    /* --var1: ;
    --var2: ; */
}
/* universal */
* {
    background-color: #fff;
}
/* viewable content  */
body {
   
}

header {

}

nav {

}

nav ul {

}

nav li {

}

nav a {
    text-decoration: none;
}

h1 {
    font-size: xx-large;
    /* float: left; */
}

h2 {

}

h3 {

}

h4 {

}

p {
    font-size: 54px;
    color: crimson;
}

.projectBig img {
    filter: opacity(50%);
    filter: grayscale(100%);
    border: 10px orange dashed;
    padding: 15px;
    background-color: #fff;
}

.projectBig img:hover{
    filter: none;
}

.projectSmall {

}


.aboutContent {
    /* border-left: 10px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding-left: 30px;
    border-color: black;
    border-style: solid; */

}

.titles {
    text-align: end;
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    border-left: 0px;
    border-top: 0px;
    border-right: 20px;
    border-bottom: 0px;
    padding-left: 30px;
    border-color: black;
    border-style: solid;
}

#projectSection {

}

#contactSection {

}
/* opens in new tab/linkedin profile target _blank */
#resume{

}

/* big screen display */
/* @media screen and (max-width:992px) {
    
} */

/* small laptop/tablet display */
/* @media screen and (max-width: 768px) {
    
} */

/* mobile screen size  */
/* hamburger menu/squishing or stacking links? */

/* @media screen and (max-width: 765px) {
    
} */